ul.ul-1 li {
    display: inline;
    padding-left: 47px;
}
body {
    line-height: 1;
    width: 800px;
    margin: 0 auto;
}
li#img-1 img {
    height: 70px;
    width: 200px;
}
img#img-2 {
    height: 450px;
    width: 100%;
}
ul.ul-2 img {
    height: 300px;
    width: 210px;
}
ul.ul-2 li {
    display: inline-block;
}
.div-1 img {
    height: 300px;
    width: 31.1%;
    padding-top: 25px;
    padding-left: 15px;
}
img#img-3 {
    height: 400px;
    width: 50%;
}
